# https://github.com/gitlabhq/gitlab-recipes/issues/14#issuecomment-9997442
#
# GITLAB
# Maintainer: @axilleas
# App Version: 5.0
#

[Unit]
Description=Self Hosted Git Management
Requires=mysqld.service redis.service
After=mysqld.service redis.service
Wants=postfix.service sidekiq.service

[Service]
Type=forking
User=git
WorkingDirectory=/home/git/gitlab
PIDFile=/home/git/gitlab/tmp/pids/unicorn.pid
ExecStart=/bin/su - git -c "nohup bundle exec unicorn_rails -c config/unicorn.rb -E production"
#ExecStart=/home/git/gitlab/script/rails server -d -e production
ExecStop=/bin/kill -QUIT `cat PIDFile`

[Install]
WantedBy=multi-user.target
